:root{ 
    --color_principal:#766df4;
    --color_secundario:#737491;
    --color_boton:#15c994;
    --background_color_1:#fefefe;
    --backgroud_color_2:#37384e;
    --gradiente_1:#766df4;
    --gradiente_2:#6a9af3;
}

.div1{
    display: flex;
    background-color: #737ef4;
}

.derecha{
    flex:1;
    padding: 20px;
}

.izquierda{
    flex:1;
}

.titulo{
    color: white;

}

.texto{
    color: white;

}

.email{
    background-color: white;
    border-radius: 7px;
    border-color: white;
    height: 30px;
    width: 300px;
}

.boton{
    border-radius: 7px;
    height: 37px;
    width: 150px;
    color: white;
    background-color: #14c994;
    border-color: #14c994;
}

.cajaformulario{
    display: flex;
}

.caja{
    flex:1;
}

.div2{
    display: flex;
    background-color: #373a4d;
    padding: 2rem 4rem;
}

.div_footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.contenedorizq{
    display: flex;
}


.contenedorcentral{
    display: flex;
    align-items: center;
}


.imagenizq{
    height: 80px;
    width: 80px;
}

.textocolor{
    color: white;

}

.textoemail{
    color: #737491;
    margin-left: 10px;
    margin-right: 40px;
}

.textotelefono{
    color: #737491;
    margin-left: 10px;
}

#icono{
    color:#737491;
}

.titulocen{
    color: white;
    font-size: 20px;
}

#iconoder{
    color: white;
    margin-right: 20px;
    font-size: 30px;
}